@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  @apply w-full h-full;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration,
progress {
  -webkit-appearance: none;
}

@layer components {
  .error-message {
    @apply absolute left-1 mt-1 text-sm font-normal text-red-100;
  }
  .form-select-block {
    @apply flex flex-col justify-center items-center w-fit min-w-[192px] min-h-[66px] rounded-[10px] bg-white shadow cursor-pointer hover:shadow-hover hover:-translate-y-2 transition;
  }
}
